/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #00bcd4;
	--ifm-color-primary-dark: #00acc1;
	--ifm-color-primary-darker: #00838f;
	--ifm-color-primary-darkest: #006064;
	--ifm-color-primary-light: #26c6da;
	--ifm-color-primary-lighter: #4dd0e1;
	--ifm-color-primary-lightest: #80deea;

	--ifm-blockquote-background-color: #ffffff;
	/* --ifm-blockquote-background-color: #FAF9F6; */
	/* --ifm-blockquote-background-color: #F5F5F5; */
	--ifm-blockquote-foreground-color: #546E7A;
	--ifm-blockquote-border-color: #90A4AE;

	--ifm-color-success: #43a047;
	--ifm-color-info: #00acc1;
	--ifm-color-warning: #ffa000;
	--ifm-color-danger: #e53935;

	--ifm-code-font-size: 90%;
	--ifm-font-color-base: #616161;

	--ifm-heading-font-weight: 400;
	--ifm-heading-line-height: 1;
	--ifm-h1-font-size: 2rem
	--ifm-h2-font-size: 1rem
}

/* Blockquotes */

/* blockquote {
  --ifm-code-background: rgba(235, 237, 240, 0.15);
  --ifm-link-color: var(--ifm-blockquote-foreground-color);
  --ifm-link-hover-color: var(--ifm-blockquote-foreground-color);
  --ifm-link-decoration: underline;

  background-color: var(--ifm-blockquote-background-color);
  border-color: var(--ifm-blockquote-border-color);
  border-style: solid;
  border-width: 0;
  border-left-width: var(--ifm-blockquote-border-left-width);
  box-shadow: var(--ifm-blockquote-shadow);
  color: var(--ifm-blockquote-foreground-color);
  font-size: var(--ifm-blockquote-font-size);
  margin: 0 0 var(--ifm-spacing-vertical);
  padding: var(--ifm-blockquote-padding-vertical)
    var(--ifm-blockquote-padding-horizontal);
} */

h1 { font-size: 2rem;}
h2 { font-size: 1.5rem;}
h3 { font-size: 1.25rem;}

.docusaurus-highlight-code-line {
	background-color: rgb(72, 77, 91);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

.alert {
	background-color: var(--ifm-background-surface-color);
	border-color: var(--ifm-alert-border-color);
	color: var(--ifm-alert-border-color);
}

.alert a {
	color: var(--ifm-color-primary);
	text-decoration: var(--ifm-link-decoration);
}

.alert .admonition-heading {
	color: var(--ifm-alert-border-color);
}

.admonition-icon svg {
	fill: var(--ifm-alert-border-color);
	stroke: var(--ifm-alert-border-color);
	margin-right: 12px;
}

a:hover {
	text-decoration: underline;
}

.admonition {
	border: none;
	background-color: var(--ifm-color-emphasis-100);
	border-radius: 0;
	border-left-width: 0.3rem;
	border-left-style: solid;
	border-color: var(--ifm-alert-border-color);
}

details {
	background-color: var(--ifm-color-emphasis-100);
	border-radius: 0;
	border-left-width: 0.3rem;
	border-left-style: solid;
	border-color: var(--ifm-color-emphasis-900);
	padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
	margin-bottom: 1em;
}

summary {
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

details[open] summary {
	margin-bottom: 1em;
}

.alert--secondary {
	--ifm-alert-background-color: var(--ifm-color-emphasis-900);
	--ifm-alert-border-color: var(--ifm-color-emphasis-900);
}

.docusaurus-highlight-code-line {
	background-color: rgb(72, 77, 91);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

.indent {
	margin-left: 20px;
}

.title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 5rem;
}

@media screen and (max-width: 996px) {
	:root {
		--ifm-font-size-base: 18px;
	}
	article header h1 {
		font-size: 1.5rem !important;
	}
	.hero .hero__title {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 997px) {
	:root {
		--ifm-font-size-base: 17px;
	}
	article header h1 {
		font-size: 2rem !important;
	}
	.blogPostTitle {
		font-size: 2rem !important;
	}
}

/* html {
	font-size: min(max(1rem, 4vw), 22px);
}
body {
	font-size: 0.75em;
} */
